In [1]:
import pandas as pd

In [8]:
storage_options = {"User-Agent": "Mozilla/5.0"}

df = pd.read_excel("http://tilastokeskus.fi/tk/he/vaalit/vaalit99/ehdokas.xls", header=3, storage_options=storage_options)
df.head()

                              Unnamed: 0 Unnamed: 1     Unnamed: 2
0  VAALIPIIRI, PUOLUE JA EHDOKAS          ÄÄNIMÄÄRÄ    VERTAUSLUKU
1   VALKRETS, PARTI OCH KANDIDAT           RÖSTETAL  JÄMFÖRELSETAL
2  CONSTITUENCY, PARTY AND CANDIDATE      NUMBER OF     COMPARISON
3                                    NaN      VOTES         FIGURE
4                 HELSINKI - HELSINGFORS        NaN            NaN

In [7]:
df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"VAALIPIIRI, PUOLUE JA EHDOKAS",ÄÄNIMÄÄRÄ,VERTAUSLUKU,NaN,NaN,NaN
1,"VALKRETS, PARTI OCH KANDIDAT",RÖSTETAL,JÄMFÖRELSETAL,NaN,NaN,NaN
2,"CONSTITUENCY, PARTY AND CANDIDATE",NUMBER OF,COMPARISON,NaN,NaN,NaN
3,NaN,VOTES,FIGURE,NaN,NaN,NaN
4,,,,,,NaN
5,HELSINGIN KAUPUNGIN -,,,,,NaN
6,HELSINGFORS STADS,,,NaN,NaN,NaN
7,,,,NaN,NaN,NaN
8,SUOMEN KESKUSTA - CENTERN I FINLAND -,,,NaN,NaN,NaN
9,CENTER PARTY OF FINLAND,,,NaN,NaN,NaN
10,Molander Sole,2691,10953.000,NaN,NaN,NaN
11,Tilev Kukka-Maaria,1929,5476.500,NaN,NaN,NaN
12,Pajunen Aimo,1533,3651.000,NaN,NaN,NaN
13,Paasikivi Annukka,1090,2738.250,NaN,NaN,NaN
14,Pentti Veikko,493,2190.600,NaN,NaN,NaN
15,Apajalahti Jouni,472,1825.500,NaN,NaN,NaN
16,Tikkanen Riina,459,1564.714,NaN,NaN,NaN
17,Antinmäki-Vesterinen Riitta,353,1369.125,NaN,NaN,NaN
18,Vennamo Meri,351,1217.000,NaN,NaN,NaN
19,Jaari Ralph,260,1095.300,NaN,NaN,NaN
20,Koivuniemi-Sippola Päivi,255,995.727,NaN,NaN,NaN
21,Arola Pauliina,220,912.750,NaN,NaN,NaN
22,Karjalainen Matti,183,842.538,NaN,NaN,NaN
23,Pohjonen Veli,167,782.357,NaN,NaN,NaN
24,Karonen Raija,134,730.200,NaN,NaN,NaN
25,Seppinen Jukka,125,684.563,NaN,NaN,NaN
26,Paavola Mikko,115,644.294,NaN,NaN,NaN
27,Romppainen Teijo (Tepa),80,608.500,NaN,NaN,NaN
28,Ylönen Siviä,43,576.474,NaN,NaN,NaN
29,,,,NaN,NaN,NaN
30,SUOMEN SOSIALIDEMOKRAATTINEN PUOLUE -,NaN,,NaN,NaN,NaN
31,FINLANDS SOCIALDEMOKRATISKA PARTI -,,,NaN,NaN,NaN
32,SOCIAL DEMOCRATIC PARTY OF FINLAND,,,NaN,NaN,NaN
33,*Lipponen Paavo,13085,78586.000,NaN,NaN,NaN
34,*Halonen Tarja,10333,39293.000,NaN,NaN,NaN
35,*Paasilinna Reino,9535,26195.333,NaN,NaN,NaN
36,*Tuomioja Erkki,6980,19646.500,NaN,NaN,NaN
37,*Bryggare Arto,6196,15717.200,NaN,NaN,NaN
38,*Alho Arja,5733,13097.667,NaN,NaN,NaN
39,Haatainen Tuula,5426,11226.571,NaN,NaN,NaN
40,Hiltunen Rakel,4541,9823.250,NaN,NaN,NaN
41,Stiller Ruben,2754,8731.778,NaN,NaN,NaN
42,Allen Tuovi,2497,7858.600,NaN,NaN,NaN
43,Taipale Ilkka,2414,7144.182,NaN,NaN,NaN
44,Jallinoja Riitta,2162,6548.833,NaN,NaN,NaN
45,Vartiainen Juhana,2043,6045.077,NaN,NaN,NaN
46,Tenkula-Kylä-Liuhala Tarja,1410,5613.286,NaN,NaN,NaN
47,Pajamäki Oskari(Osku),1065,5239.067,NaN,NaN,NaN
48,Vehviläinen Sirkka-Liisa,1062,4911.625,NaN,NaN,NaN
49,Lampela Heikki,549,4622.706,NaN,NaN,NaN