In [65]:
import pandas as pd
import math

In [66]:
storage_options = {"User-Agent": "Mozilla/5.0"}

d95 = "http://tilastokeskus.fi/tk/he/vaalit/vaalit95/risvaa.xls"
d99 = "http://tilastokeskus.fi/tk/he/vaalit/vaalit99/ehdokas.xls"
d03 = "http://tilastokeskus.fi/tk/he/vaalit/vaalit2003/vaalit2003_vaalitilastot_ehdokkaatverluku.xls"
d07 = "http://www.stat.fi/til/evaa/2007/evaa_2007_2007-03-28_tau_015.xls"
df = pd.read_excel(d03, header=6, storage_options=storage_options)
df = df.iloc[:, : 3]
df.head()

        Valkrets, parti och kandidat    Röstetal Jämförelsetal
0  Constituency, party and candidate  Number of    Comparison
1                                NaN       votes        figure
2                                NaN         NaN           NaN
3             HELSINKI - HELSINGFORS         NaN           NaN
4                                NaN         NaN           NaN

In [67]:
df.columns = ["item", "value", "comparison"]
df = df[1:]
df = df.dropna(subset=["item"])
df["value"] = df["value"].apply(lambda x: str(x).strip()).replace(" ", pd.np.nan).replace("", pd.np.nan).astype(float)
df.head()

C:\Users\cnava\AppData\Local\Temp\ipykernel_8548\2748301693.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df["value"] = df["value"].apply(lambda x: str(x).strip()).replace(" ", pd.np.nan).replace("", pd.np.nan).astype(float)

                                  item    value comparison
3               HELSINKI - HELSINGFORS      NaN        NaN
5  Suomen Sosialidemokraattinen Puolue      NaN        NaN
6    Finlands Sosialdemokratiska Parti      NaN        NaN
7   Social Democratic Party of Finland      NaN        NaN
9                      *Lipponen Paavo  26415.0  79031.000

In [69]:
district_id = None
party_id = None

parties = list(df["item"].value_counts()[df["item"].value_counts() > 2].index)
output = []
for i, item in df.iterrows():
  if item["item"] in parties and math.isnan(item["value"]):
    party_id = item["item"]
  elif item["item"] not in parties and math.isnan(item["value"]):
    district_id = item["item"]

  if not math.isnan(item["value"]): 
    output.append({
      "district_id": district_id,
      "party_id": party_id,
      "candidate": item["item"].replace("...", ""),
      "value": int(item["value"]),
    })

data = pd.DataFrame(output)
data.to_csv(f"../data_output/Finland/{2003}_camera_district.csv.gz", index=False, compression="gzip")

data.head()

,district_id,party_id,candidate,value
0,HELSINKI - HELSINGFORS,Social Democratic Party of Finland,*Lipponen Paavo,26415
1,HELSINKI - HELSINGFORS,Social Democratic Party of Finland,*Tuomioja Erkki,9548
2,HELSINKI - HELSINGFORS,Social Democratic Party of Finland,*Haatainen Tuula,9341
3,HELSINKI - HELSINGFORS,Social Democratic Party of Finland,*Hiltunen Rakel,7788
4,HELSINKI - HELSINGFORS,Social Democratic Party of Finland,*Bryggare Arto,4786