In [1]:
import json
import pandas as pd

In [2]:
country = "France"
year = 2022
geography = "department"

In [3]:
df = pd.read_csv(f"data_output/{country}/{year}_first_round.csv.gz", compression="gzip")
df.columns = [x.lower() for x in df.columns]

df_location = pd.read_csv(f"data_output/{country}/{year}_first_round_location.csv.gz", compression="gzip")

df = pd.merge(df, df_location[["polling_id", geography]], on="polling_id")

C:\Users\cnavarreteliz\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_general = df.groupby("candidate").agg({"value": "sum"}).reset_index()
df_general["rate"] = df_general["value"] / df_general["value"].sum()
df_general.to_json(
    f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/first_round_{country}_{year}_{geography}.json",
    orient="records"
)

In [5]:
df.sort_values("rank")

,polling_id,candidate,value,rank,rate,department
60220,10-165-0001,Marine LE PEN,76,1,0.331878,Aube
777954,93-48-0005,Jean-Luc MÉLENCHON,506,1,0.635678,Seine-Saint-Denis
648338,77-58-0006,Emmanuel MACRON,353,1,0.422249,Seine-et-Marne
171390,25-56-0603,Jean-Luc MÉLENCHON,254,1,0.466912,Doubs
729206,86-295-0001,Emmanuel MACRON,64,1,0.309179,Vienne
...,...,...,...,...,...,...
218904,30-231-0001,Nathalie ARTHAUD,1,12,0.002994,Gard
360168,46-224-0003,Nathalie ARTHAUD,0,12,0.000000,Lot
688690,80-733-0001,Philippe POUTOU,0,12,0.000000,Somme
595260,71-278-0001,Nathalie ARTHAUD,0,12,0.000000,Saône-et-Loire
372132,49-89-0001,Nathalie ARTHAUD,2,12,0.003257,Maine-et-Loire

In [18]:
dd = df.groupby("candidate").agg({"rank": "std", "rate": "mean"})
dd["asd"] = dd["rank"] / dd["rate"]
dd.sort_values("rank", ascending=False)

                           rank      rate         asd
candidate
Jean LASSALLE          1.973362  0.039220   50.315620
Yannick JADOT          1.828381  0.041097   44.489472
Fabien ROUSSEL         1.813180  0.023306   77.799428
Nicolas DUPONT-AIGNAN  1.743459  0.022432   77.723445
Anne HIDALGO           1.696715  0.017172   98.806058
Valérie PÉCRESSE       1.594224  0.048938   32.576136
Nathalie ARTHAUD       1.516813  0.006150  246.619654
Philippe POUTOU        1.473235  0.008170  180.324492
Éric ZEMMOUR           1.276483  0.068936   18.516854
Marine LE PEN          1.093872  0.254280    4.301843
Jean-Luc MÉLENCHON     1.030933  0.207773    4.961813
Emmanuel MACRON        0.754894  0.262525    2.875510

In [7]:
df_general = df.groupby("candidate").agg({"rate": "std"}).reset_index().rename(columns={"rate": "value"})
df_general.to_json(
    f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/dv_{country}_{year}_{geography}.json",
    orient="records"
)

In [8]:
df_general = df.groupby("candidate").agg({"value": "sum"}).reset_index()
df_general["rate"] = df_general["value"] / df_general["value"].sum()
df_general.to_json(
    f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/first_round_{country}_{year}_{geography}.json",
    orient="records"
)

In [9]:
results = df.groupby("candidate").agg({"value": "sum"}).to_dict()["value"]
results

{'Anne HIDALGO': 616478,
 'Emmanuel MACRON': 9783058,
 'Fabien ROUSSEL': 802422,
 'Jean LASSALLE': 1101387,
 'Jean-Luc MÉLENCHON': 7712520,
 'Marine LE PEN': 8133828,
 'Nathalie ARTHAUD': 197094,
 'Nicolas DUPONT-AIGNAN': 725176,
 'Philippe POUTOU': 268904,
 'Valérie PÉCRESSE': 1679001,
 'Yannick JADOT': 1627853,
 'Éric ZEMMOUR': 2485226}

In [10]:
df_dv = pd.read_csv(f"data_output/{country}/{year}_divisiveness_{geography}.csv.gz", compression="gzip").fillna(0)
df_dv["rank"] = df_dv.groupby([geography])["value"].rank("min", ascending=False).astype(int)

df_dv.to_json(
    f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/divisiveness_{country}_{year}_{geography}.json",
    orient="records"
)

In [11]:
df_tmp = df.groupby([geography, "candidate"]).agg({"value": "sum"})
df_tmp["rate"] = df_tmp.groupby(level=[0]).apply(lambda x: x / x.sum())
df_tmp["rank"] = df_tmp.groupby([geography])["value"].rank("min", ascending=False).astype(int)
df_tmp = df_tmp.reset_index()
df_tmp

     department              candidate  value      rate  rank
0           Ain           Anne HIDALGO   5644  0.016948    10
1           Ain        Emmanuel MACRON  92206  0.276875     1
2           Ain         Fabien ROUSSEL   5938  0.017831     9
3           Ain          Jean LASSALLE  10876  0.032658     7
4           Ain     Jean-Luc MÉLENCHON  57832  0.173657     3
...         ...                    ...    ...       ...   ...
1279   Yvelines  Nicolas DUPONT-AIGNAN  13097  0.017783     8
1280   Yvelines        Philippe POUTOU   3963  0.005381    11
1281   Yvelines       Valérie PÉCRESSE  61296  0.083225     5
1282   Yvelines          Yannick JADOT  40470  0.054949     6
1283   Yvelines           Éric ZEMMOUR  64407  0.087449     4

[1284 rows x 5 columns]

In [12]:
df_tmp.to_json(
    f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/{country}_{year}_{geography}.json",
    orient="records"
)

In [13]:
df_transition = pd.read_csv(f"data_transition/{country}_{year}.csv", encoding="latin-1")
df_transition = df_transition.rename(columns={"Unnamed: 0": "candidate"})
df_transition.columns = [x.replace(".", " ") for x in df_transition.columns]
df_transition

                candidate  Emmanuel MACRON  Marine LE PEN
0        Nathalie ARTHAUD         0.000000       0.981115
1          Fabien ROUSSEL         0.467065       0.527542
2         Emmanuel MACRON         0.939295       0.060180
3           Jean LASSALLE         0.368551       0.614844
4           Marine LE PEN         0.000000       0.985425
5            Éric ZEMMOUR         0.229050       0.769437
6      Jean-Luc MÉLENCHON         0.809764       0.188983
7            Anne HIDALGO         0.514310       0.464378
8           Yannick JADOT         0.992446       0.000000
9        Valérie PÉCRESSE         0.963854       0.000000
10        Philippe POUTOU         0.000000       0.770667
11  Nicolas DUPONT-AIGNAN         0.000000       0.989721

In [14]:
candidate_a, candidate_b = list(df_transition)[1:]

In [15]:
output = {
    "links": [],
    "nodes": []
}
for i, tmp in df_transition.iterrows():
    output["links"].append({
        "source": tmp["candidate"],
        "target": f"{candidate_a} 2",
        "rate": tmp[candidate_a],
        "value": results[tmp["candidate"]] * tmp[candidate_a]
    })
    output["links"].append({
        "source": tmp["candidate"],
        "target": f"{candidate_b} 2",
        "rate": tmp[candidate_b],
        "value": results[tmp["candidate"]] * tmp[candidate_b]
    })
    output["nodes"].append({
        "id": tmp["candidate"],
        "candidate": tmp["candidate"]
    })
    
output["nodes"].append({
    "id": f"{candidate_a} 2",
    "candidate": candidate_a
})

output["nodes"].append({
    "id": f"{candidate_b} 2",
    "candidate": candidate_b
})

In [16]:
 # Serializing json
json_object = json.dumps(output, indent=4)
 
# Writing to sample.json
with open(f"C:/Users/cnavarreteliz/Projects/polarization-website/public/data/transition_{country}_{year}_{geography}.json", "w") as outfile:
    outfile.write(json_object)